body {
    margin: 0%;
    font-family: "Roboto", sans-serif;   
}

.hero{
    display: flex;
    overflow: hidden;
    height: 39vw;
    position: relative;
}

.hero img {
    object-fit: cover;
    object-position: top;
    width: 100%; 
    height: 100%; 
    position: absolute; 
}

.hero > .startofweek, .hamburgerofweek {
    background-color: white;
    position: absolute;
    bottom: 130px;
    left: 350px;
    padding: 20px;
}

.startofweek > h1 {
    margin: 0px;
}

.hamburgerofweek > h1 {
    margin: 0px;
}