body {
    margin: 0%;
    font-family: "Roboto", sans-serif;   
}

.hero{
    /* background-image: url(/images/hero-image.jpg); */
    display: flex;
    overflow: hidden;
    height: 39vw;
    /* width: 100vw; */
    position: relative;
    margin-top: 5px;
}

.hero img {
    object-fit: cover;
    object-position: top;
    width: 100%; 
    height: 100%; 
    position: absolute; 
    /* top: 0; 
    left: 0; */
}

.hero > .startofweek {
    background-color: white;
    position: absolute;
    bottom: 130px;
    left: 350px;
    padding: 20px;
}

.startofweek > h1 {
    margin: 0px;
}